<section class="mat-typography ">
  <h2 class="title">Mat-table with custom pagination</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-1 ">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef> Job Tile</th>
      <td mat-cell *matCellDef="let element"> {{element.job_title}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
  <div class="pagination" *ngIf="data.length > 7">
    <span class="material-symbols-outlined  pagination-icon first-last" (click)="firstPage()"[class.disabled]="currentPage === 1">first_page</span>
    <span class="material-symbols-outlined pagination-icon" (click)="previousPage()" [class.disabled]="currentPage === 1"> chevron_left</span>
    <span class="pagination-info">Page<strong class="mx-1">{{ currentPage }}</strong>of<strong class="mx-1">{{ totalPages }}</strong></span>
    <span class="material-symbols-outlined pagination-icon" (click)="nextPage()"[class.disabled]="currentPage === totalPages"> chevron_right</span>
    <span class="material-symbols-outlined pagination-icon first-last" (click)="lastPage()"[class.disabled]="currentPage === totalPages">last_page</span>
  </div>
</section>
